.proDet {
    margin: 0.5%;
    border: 1px solid var(--border-color);
    border-radius: 1rem; 
    font-size: 100%;
    color: #5E6164;
    padding: 1rem;
    text-align: left;
    font-family: sans-serif;
    width: 99%;
    align-content: center;

}

.tit{
    display: flex;
    position: relative;
    justify-content: center;
}

@media(max-width: 550px){ 
    .proDet h5{    
      font-size:medium;
      }
    }

    .back{
        color: aqua;
        font-size: small;
    }
   