.proBtn {
    position: relative;
    top: 0.25rem; 
    right: 0.25rem;
   cursor:pointer;
   color: beige;
  background-color: var(--btn-bkg-danger);
  transition: background-color 250ms;

}


.datosProd {
    background-color: white;
    margin: 1rem;
    border: 2px solid;
    padding: 1rem;
    border-color: rgb(18, 19, 19);
    border-radius: 1rem;
    
}


.txt {
    font-size: 1rem;
    font-weight: 300;
    text-align: center;
}


.card {
   
    background-color: white;
    padding: 2rem;
    text-decoration-line: none !important;
  }

  

  .cardbody {
    object-fit: cover;
    width:100%;
  
  }
  h4{
    text-decoration: none ;
  }
  .card:hover {
    text-decoration-line: none;
    -webkit-transform:scale(1.3);transform:scale(1.1);
  box-shadow: 0px 0px 5px 5px #1e9aec;
  -webkit-box-shadow: 0px 0px 5px 5px #1e9aec70;
  transition: transform 1s;

  
  }

  h3{
    text-align: center;
 
  }
