

.proDetd {

    border: 1px solid var(--border-color);
    border-radius: 1rem;
    display: flex;
    flex-direction:column;
    justify-content: center;
    margin: 1rem;
    text-align: center;
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
  
    
    grid-gap: 10px;
    width: 100%;
    padding: 1.7rem;
} 

@media(max-width: 550px){
  .cards{
    display: grid;
    grid-template-columns: repeat(1, 1fr); 
    grid-gap: 10px;
    width: 100%;
    padding: 1.7rem;
  }
}


.sacarsub{
    text-decoration: none ;
  }

  h2,h4{
    text-align: center;
  }

  h3{
    text-decoration: none;
  }
