
/* 
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color:aquamarine; */
  background-image: url("https://www.originwallcoverings.es/media/catalog/product/cache/a2ff3bab6ccd19c1caabb71d87d63da1/3/4/347486.jpg"); 
  /* con esto hago que no se repita la imagen en el body:
   background-repeat: no-repeat; */
  /* con lo siguiente le doy el tamaño de la imagen: 
  background-size: cover; 
  height: 100%; 
  min-height: 100vh;*/
 
}

body, input {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-decoration: none !important;
}

h3{
  text-decoration: none;
}

:root {
  --border-color: #00000046  ; 
  --btn-bkg-danger: #1e97e2;
}
